.header {
    background-color: rgb(111, 153, 238);
    color: white;
    text-align: center;
    padding: 0.8rem;
    width: 100vw;
    margin: 0 0 1.5rem 0;
    font-weight: 700;
    font-size: 2rem;
}